# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Environment & Sensitive API Files
.env
*.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE & Editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db